body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 120vh;
  overflow-y: hidden;

}
body p{
  color: rgba(14, 14, 14, 0.623);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
